<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все тренировки на сегодня</title>
</head>
<body>
    <h1>Тренировки на {{ today_date.strftime('%d-%m-%Y') }}</h1>
    {% if workouts %}
        <ul>
            {% for workout in workouts %}
                <li>
                    Тип тренировки: {{ workout.exercise_type.name }} <br />
                    День недели: {{ workout.day_of_week.name }} <br />
                    Дата: {{ workout.date.strftime('%d-%m-%Y') }} <br />
                    Время: {{ workout.time.strftime('%H:%M') }} <br />
                    Тренер: {{ workout.coach.full_name }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>На сегодня нет запланированных тренировок.</p>
    {% endif %}
</body>
</html>