{% extends "base.html" %}

{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            Создание расписания
        </div>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.exercise_type.label }} {{ form.exercise_type() }} <br>
                {{ form.day_of_week.label }} {{ form.day_of_week() }} <br>
                {{ form.coach.label }} {{ form.coach() }} <br>
                {{ form.date.label }} {{ form.date() }} <br>
                {{ form.time.label }} {{ form.time() }} <br>
                {{ form.submit() }}
            </form>
    </div>
</div>
{% endblock %}