<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваш Заголовок</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styl.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
    body {
        background-image: url('{{ url_for("static", filename="sport2.jpg") }}');
        background-size: cover; /* Это растянет изображение так, чтобы оно заполнило весь фон */
        background-position: center; /* Центрируем изображение */
        line-height: 1.5;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        color: #fff;
    }
    a { text-decoration: none; color: #fff; }
</style>
</head>
<body>

<div id="header">
  <div class="logo">
    <a href="#">SPORT</a>
  </div>  
  <nav>
    <form class="search" action="search.php"> 
      <input name="q" placeholder="Search..." type="search">
    </form>
    <ul>
		<li><a href="{{ url_for('index_view') }}">О нас</a></li>
            <li>
                <a href="{{ url_for('book_workout') }}">Расписание</a>
        <ul class="mega-dropdown">
          <li class="row">
            <ul class="mega-col">
              <li><a href="#">Время занятий</a></li>
              <li><a href="{{ url_for('price_view') }}">Ценообразование</a></li>
            </ul>
          </li>
        </ul>        
      </li>
      <li class="dropdown">
        <a href="">Личные тренировки</a>
        <ul>
          <li><a href="{{ url_for('me_view') }}">Личный кабинет</a></li>
          {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('register') }}">Вход/Регистрация</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a href="#" id="logout-button">Выйти</a></li>
       {% endif %}
        </ul>        
      </li>
      <li><a href="{{ url_for('teacher_view') }}">Тренера</a></li>
      <li><a href="{{ url_for('information_view') }}">Контакты</a></li>
    </ul>
  </nav>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() { // Ждем, пока документ загрузится
      const logoutButton = document.getElementById('logout-button');
      if (logoutButton) {
          logoutButton.onclick = async (e) => {
              e.preventDefault(); // Предотвращаем переход по ссылке

              const response = await fetch('/api/logout', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                  },
              });

              if (response.ok) {
                  // Если выход успешен, перенаправляем на страницу входа или главную
                  window.location.href = '/home'; // или '/home'
              } else {
                  console.error('Ошибка выхода');
              }
          };
      }
  });
</script>

    {% include "header.html" %} 
    {% block content %}{% endblock content %}
    {% include "footer.html" %}
  </body>
</html>