{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ценообразование</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cost.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('/api/prices')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Сеть не в порядке');
                }
                return response.json();
            })
            .then(data => {
                const pricesContainer = document.querySelector('.unique-prices-container');
                data.forEach(val => {
                    const priceDiv = document.createElement('div');
                    priceDiv.className = 'price-icon-wrap';

                    // Добавление иконки
                    const iconDiv = document.createElement('div');
                    iconDiv.className = 'circle'; 
                    priceDiv.appendChild(iconDiv);

                    const detailsDiv = document.createElement('div');
                    detailsDiv.className = 'price-description';
                    detailsDiv.innerHTML = `
                        <h4 class="price-title">${val.name}</h4>
                        <div class="aio-icon-description">
                            Цена: ${val.price} рублей
                        </div>
                    `;

                    // Добавление структуры
                    priceDiv.appendChild(detailsDiv); // Добавляем детали в priceDiv
                    pricesContainer.appendChild(priceDiv); // Добавляем весь блок в контейнер
                });
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
        });
    </script>
</head>
<body>
    <div class="contacts-container">
        <div class="unique-prices-container">
            <h3 style="text-align:center;">Стоимость услуг</h3>
            <!-- Цены будут добавлены сюда через JavaScript -->
        </div>
    </div>
</body>
{% include "footer.html" %}
{% endblock %}