{% extends "base.html" %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ваш Заголовок</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styl.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<h1>Приглашаем посетить наш фитнес клуб</h1>
<div class="accordion">
  <ul>
    <li tabindex="1">
      <div>
        <a href="#">
          <h2>Наш фитнес клуб это:</h2>
          <p>Современное оборудование высшего качества</p>
        </a>
      </div>
    </li>
    <li tabindex="2">
      <div>
        <a href="#">
          <h2>Наш фитнес клуб это:</h2>
          <p>Квалифицированные тренеры с опытом</p>
        </a>
      </div>
    </li>
    <li tabindex="3">
      <div>
        <a href="#">
          <h2>Наш фитнес клуб это:</h2>
          <p>Разнообразные групповые тренировки  </p>
        </a>
      </div>
    </li>
    <li tabindex="4">
      <div>
        <a href="#">
          <h2>Наш фитнес клуб это:</h2>
          <p>Удобные часы работы для всех </p>
        </a>
      </div>
    </li>
    <li tabindex="5">
      <div>
        <a href="#">
          <h2>Наш фитнес клуб это:</h2>
          <p>Чистота и приятная атмосфера</p>
        </a>
      </div>
    </li>
    <li tabindex="6">
      <div>
        <a href="#">
          <h2>Наш фитнес клуб это:</h2>
          <p>Индивидуальный подход к каждому</p>
        </a>
      </div>
    </li>
  </ul>
</div>

</body>
</html>
  {% include "footer.html" %}
  {% endblock %}