.nesolestag-enadenud {
    width: 615px;
    margin: 0 auto;
}

.kesednsoled:after,
.kesednsoled:before {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear: both;
}
.contacts-ico-wrap {
    color: #fff71c;
    width: 48px;
    height: 48px;
    margin: 30px 18px 5px 5px;
    display: block;
    text-align: center;
    font-size: 25px;
    border: 2px solid #fffb1a;
    float: left;
    border-radius: 30px;
}
.ico-contact {
    line-height: 1.9 !important;
}
.meanous-andscoev {
    float: left;
    margin-bottom: 20px;
}
.aio-icon-title {
    font-size: 16px;
    color: #ebff15;
    line-height: 1;
    margin-bottom: 8px;
}

@media (max-width: 767px) {
    .meanous-andscoev,
    .ico-wrap {
        float: none;
        text-align: center;
    }
    .ico-wrap {
        margin: 0 auto 15px auto;
    }
}

.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px; 
    width: 100%;
}

.nesolestag-enadenud {
    width: 615px;
    padding: 20px;
    border: 2px solid #fffb19;
    border-radius: 15px;
    background-color: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

