.contacts-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    width: 100%;             
}

.unique-prices-container {
    width: 615px;             
    padding: 20px;           
    border: 2px solid #ebfa18; 
    border-radius: 15px;      
    background-color: #000000; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;            /* Добавляем Flexbox для контейнера */
    flex-direction: column;   /* Устанавливаем вертикальное направление */
    align-items: flex-start;  /* Выравниваем элементы в начале контейнера */
}

.price-icon-wrap {
    color: #fcf811; 
    width: 100%;          /* Устанавливаем ширину на 100% для выравнивания */
    display: flex;       /* Используем Flexbox для выравнивания значков и текста */
    align-items: center; /* Центрируем по вертикали */
    margin-bottom: 20px; /* Отступ между элементами */
}

.circle {
    width: 48px; 
    height: 48px; 
    background-color: #ecff1f; 
    border-radius: 50%; 
    margin-right: 10px;  /* Отступ справа от иконки */
}

.price-title {
    font-size: 16px; 
    color: #efff0e; 
    margin: 0;          /* Убираем отступы, чтобы было аккуратно */
}

.aio-icon-description {
    margin: 0;         /* Убираем отступы для описания */
    color: #fff;       /* Убедитесь, что текст виден на черном фоне */
}