body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.coaches-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.coaches-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.coach-card {
    background-color: rgb(85, 85, 87);;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 33, 163, 0.15);
    width: calc(33% - 20px);
    padding: 15px;
    text-align: center;
    flex: 1 1 300px;
}

.coach-photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.coach-info h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.exercise-type {
    font-style: italic;
    margin: 5px 0;
    color: #ffffff;
}

.description {
    margin: 10px 0;
    font-size: 0.9em;
    color: #ffffff;
}

.btn-book {
    background-color: #ffffff;
    color: rgb(8, 1, 1);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-book:hover {
    background-color: #fefefe;
}

@media (max-width: 768px) {
    .coach-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .coach-card {
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
    }

    .booking-form label {
        font-size: 0.9em;
    }
}